@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}
body {
	background-image: url("images/babydots.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
	
}
.wrapper {
	background-image: url("images/opaqueblue.png");
	background-repeat: no-repeat;
	background-size: cover; 
	margin: 0 auto;
	width: 1000px;
	min-height: 1000px;
	
}
.imglogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	padding-top: 20px;
	padding-bottom: 20px;
		
}
.imgthread {
	width: 100%;
	max-height: 200px;	
}
	
nav {

	width: 100%;
	height: 40px;
	line-height: 30px;
	background-color: #8300C0;

		
}

ul {
	text-align: center;
	padding: 5px 0 5px 0;
	
}

ul li {
	display: inline-block;
	list-style: none;
	font-family :'Cabin Condensed', sans-serif;
		
			
}
ul li a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Pacifico', cursive;
	font-size: 16px;
	color: white;
	padding: 0 50px;;
				
}
ul li a:hover {
	color: #38CDF7;
	
	
}
ul a:visited {

}

h1 {
	background-image: url("images/flower-4148707_1920.png");
	background-repeat: no-repeat;
	background-position: center;
	font-family: 'Pacifico', cursive;
	font-size: 22px;
	font-weight: 400;
	text-align: center;
	color: darkblue;
	padding-top: 24px;
	padding-bottom: 20px;
}
h2 {
	font-family:  'Cabin Condensed', sans-serif;
	font-size: 20px;
	font-weight: 100;
	text-align: center;
	color: white;
	padding-top: 0 0 0 15px;
	}
h3 {
	font-family:  'Cabin Condensed', sans-serif;
	font-size: 18px;
	font-weight: 100;
	text-align: center;
	color: deeppink;
	padding: 24px 0 30px  0;
}
p {

	text-align: center;
	width: 70%;
	font-family:  'Cabin Condensed', sans-serif;
	font-size: 16px;
	font-weight:500;
	padding-top: 10px;
	padding-bottom: 40px;
}

.carousel-inner {
	width: 100%;
	max-height: 400px;
	text-align: center;
}


.center {
display: block;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	text-align: center;
}

.button {
  border: thin;
  color: none;
font-family: 'Cabin Condensed', sans-serif;
	font-weight:600;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

	}
.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid  #8300C0;
	
}

.button1:hover {
  background-color: #CA0E8B;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid  #8300C0;
}

.button2:hover {
  background-color:  #CA0E8B;
  color: white;
}


.form {
	display: block;
    text-align: center;
	height: 125px;
	line-height: 35px;
	background-color: #8300C0;
	border-width: thin;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.twitter.insta {
	display: inline-block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	
}


input {
	margin-left: 20px;
	margin-right: 20px;

	
}
.left{
	width: 200px;
	float: left;
	margin-left: 40px;
	font-family: 'Cabin Condensed', sans-serif;
	font-size: 15px;
	margin-bottom: 2px;
}
.right{
	width: 200px;
	float: right;
	margin-right: 40px;
	font-family: 'Cabin Condensed', sans-serif;
	font-size: 15px;
	margin-bottom: 2px;
}

.row {
		margin:0 auto;

}
.row > .column {
  padding: 30px 0 35px 20px;
}

.column {
   width: 33%;


}
.row:after {
  content: "";
  display: table;
  clear: both;
}


.content {
background-color: aliceblue;padding: 5px;
  text-align: center;


}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
	 
  }

}
footer {
	text-align: center;
	clear: both;
	font-family: 'Cabin Condensed', sans-serif;
	}